PROJECT_ROOT=../
SEVENZIP_PATH=/mnt/z/programs/7-Zip/7z.exe
FO4_GAME_DIR=/mnt/z/SteamLibrary/steamapps/common/Fallout 4
DLL_BUILD_DIR=commonlibf4-plugin/build/windows/x64/{mode}
WSL_STAGE_DIR=/mnt/c/tmp/lootman-wsl-build
